@page "/etudiant"
<h3>Etudiant</h3>

@if (showComponentList)
{
    <StudentList OnChange="HandleOnChange"></StudentList>
}
else
{
    <StudentForm OnChange="HandleOnChange"></StudentForm>
}


@code {
    private bool showComponentList = true; // Commence avec UniversiteList

    private void HandleOnChange(bool newState)
    {
        showComponentList = newState; // Bascule entre les composants
    }
}
