@inject hgrkapp.Repository.IServices.IAuthenticationService AuthService
@inject NavigationManager Navigation 
<div class="theme-setting-wrapper">
    <div id="settings-trigger"><i class="typcn typcn-cog-outline"></i></div>
    <div id="theme-settings" class="settings-panel">
        <i class="settings-close typcn typcn-times"></i>
        <p class="settings-heading">Mode menu</p>
        <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
        <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
        <p class="settings-heading mt-2">Mode de l'entete</p>
        <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
        </div>
    </div>
</div>





<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="typcn typcn-device-desktop menu-icon"></i>
                <span class="menu-title">Tableau de bord</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link btn-success rounded-3" href="/nouveau">
                <i class="typcn typcn-plus menu-icon"></i>
                <span class="menu-title">Nouveau</span>
              
            </a>
        </li>
         <li class="nav-item">
             <a class="nav-link" href="/departements">
                 <i class="typcn typcn-book menu-icon"></i>
                 <span class="menu-title">Départements</span>
             </a>
         </li>
          <li class="nav-item">
              <a class="nav-link" href="/groupe">
                  <i class="typcn typcn-user-outline menu-icon"></i>
                  <span class="menu-title">Groupes</span>
              </a>
          </li>


         <li class="nav-item">
             <a class="nav-link" href="/universite">
                 <i class="typcn typcn-home-outline menu-icon"></i>
                 <span class="menu-title">Universités</span>
             </a>
         </li>

        
         <li class="nav-item">
             <a class="nav-link" href="/stages">
                 <i class="typcn typcn-calendar-outline menu-icon"></i>
                 <span class="menu-title">Stage</span>
             </a>
         </li>

         
         <li class="nav-item">
             <a class="nav-link" href="/etudiant">
                 <i class="typcn typcn-user-add-outline menu-icon"></i>
                 <span class="menu-title">Etudiants</span>
             </a>
         </li>
      

          <li class="nav-item">
              <a class="nav-link" href="/session">
                  <i class="typcn typcn-times-outline menu-icon"></i>
                  <span class="menu-title">Sessions</span>
              </a>
          </li>
      
     
         
         <li class="nav-item">
             <a class="nav-link"  href="/paiements">
                 <i class="typcn typcn-compass menu-icon"></i>
                 <span class="menu-title">Paiements</span>
                 <i class="menu-arrow"></i>
             </a>
         
        </li>

          <li class="nav-item">
              <a class="nav-link" @onclick="Logout">
                  <i class="typcn typcn-lock-closed menu-icon"></i>
                  <span class="menu-title">Déconnexion</span>
              </a>
          </li>
    </ul>
</nav>

@code{

    private async void Logout()
        {
        await AuthService.Logout();

        }

}